.add-photo__content-wrapper {
  padding-top: 20px;
  padding-bottom: 40px;

  background-color: $bg-color-grey-light;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 57px;
  }
}

.add-photo__headline {
  padding-top: 49px;
  padding-bottom: 52px;
}

.add-photo__intro {
  margin: 0;

  line-height: 214%;
  text-align: center;
}

.add-photo__form {
  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-right: 60px;
  }
}
